/********************************************************************
* Base Rules
*/

body {
	overflow: hidden;
}

.space {
	margin-top: 2em;
}

/********************************************************************
* Specific element rules
*/

.center-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
}

/********************************************************************
* Menu rules
*/

.menu {
	position: relative;
	left: -50%;
	width: 640px;
	font-size: x-large;
	line-height: 1.25;
}

.menu h1 {
	text-align: center
}

.menu .selected::before {
	position: absolute;
	left: -1em;
	content: "> ";
}

.carousel {
	display: flex;
}

.carousel-label, .carousel-item {
	flex-grow: 1;
}

.carousel-item::before {
	content: "< ";
}

.carousel-item.more-left::before {
	content: "<< ";
}

.carousel-item::after {
	content: " >";
}

.carousel-item.more-right::after {
	content: " >>";
}

/********************************************************************
* Gameplay rules
*/

.score-bar {
	text-align: center;
}

.score-bar span {
	margin-right: 2em;
}

.dialog {
	width: 600px;
	margin: 100px auto;
	background-color: #f1f1f1;
	border: 1px solid #000;
	padding: 15px;
	z-index: 100;
}

.modal {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.dialog div {
}

.button {
	cursor: pointer;
	display: inline-block;
	border: 2px outset;
	background-color: #dddddd;
	padding: 0.5em 1em;
}

.button:active {
	border: 2px inset;
}

/********************************************************************
* Global rules
*/

.right {
	float: right;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}
